body{

}


#topbar {
	width: 100%;
	height: 50px;
	background-color: black;
	position: fixed;
	top:0;
	z-index: 9999;
	border-bottom:2px solid white;

}

#topnav {
	position: relative;
	width: 740px;
	margin: 0 auto;
}


.link {
	position: absolute;
	list-style: none;
	padding: 0;
	left: 100px;
	z-index: 2;
}

.link li {
	float: left;
	margin: 0;
	margin-right: 5px;
}

.link li a {
	/*hilangkan teks transform*/
	font-family: arial;
	font-size: 20px;
	color: white;
	margin-right: 20px;
	text-decoration: none;
	letter-spacing: 1px;
}

.link li.current a {
	color: white;
}

.link li a:hover {
	text-transform: uppercase;
	height: 60px;
	background-color: black;
	color: red;
	border:2px solid white;
	font-family: "Times new roman";

}


.link li ul {
	display: none;
	position: absolute;
	width: 80px;
	background-color: blue;
	/*background-color: #215470;*/
	list-style: none;
}

.link li:hover ul {
	display: block;
	padding: 20px;
}

.link li:hover ul li {
	line-height: 30px;
}

.link li:hover ul li a {
	font-size: 11px;
}

.social {
	list-style: none;
	padding: 0;
	position: relative;
	right: 0;
	top: -10px;
}

.social li {
	display: inline;
	margin-right: 10px;
}

.social li a {
	text-decoration: none;
	position: relative;
	right: 20px;

}

.social img{
	widows: 100px;
	height: 100px;
	float: left;
}

.social img:hover{
	transform: scale(1.3);
}

